@page "/event/{EventId}/program"
@using Conservices.Screen.Interfaces.Conservices
@using Conservices.Screen.Models.Convention

@inject IConventionService ConventionService

<div class="d-flex flex-column justify-content-between w-100 h-100">
    <HeaderBar Convention="@Convention" Title="Programm"/>
    <div>Content hier</div>
    <div>Joar, footer hier</div>
</div>
@code {

    [Parameter]
    public required string EventId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Convention = await ConventionService.GetConventionAsync(EventId);
    }

    private Convention? Convention { get; set; }

}