.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title{
    display: flex;
}

.display-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.room-view{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23vw !important;
    max-height: 23vw !important;
}

.room{
    padding: 0.75rem;
}

.room-name{
    height: 3rem;
}

.room-current{
    border-top: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    
    .display-wrapper{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .room-view{
        width: 90vw !important;
        max-width: unset !important;
        max-height: unset !important;
    }
}