@using Conservices.Screen.Models.Program
@using Conservices.Screen.Util

<div class="p-3" style="max-height: 45% !important; overflow: hidden;">
    <div class="h4">
        Aktuell:
    </div>
    @if (CurrentItem != null)
    {
        <div class="lead" style="max-height: 70% !important; overflow: hidden">
            @CurrentItem.Title
        </div>
        <div class="h6">
            noch: @CurrentItem.End.ToLocalTime().TimeDelta()
        </div>
    }
    else
    {
        <div class="lead">Nichts</div>
    }
    
</div>

@code {

    [Parameter]
    public ProgramItem? CurrentItem { get; set; }

}