.header-bar{
    border-bottom: 2px solid var(--primary);
    height: 11vh !important;
    max-height: 11vh !important;
    flex-grow: 1;
}

.header-image-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-image-container{
    max-height: 10vh !important;
    height: 10vh !important;
    width: 10vh !important;
    background: var(--background-image);
}

.header-image-container img{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    border-radius: 50% !important;
    border: 2px solid var(--primary);
}

.header-text{
    font-size: 8vh !important;
    padding-left: 2rem;
}

.header-text-sm{
    font-size: 6vh !important;
}