.row-active{
    background-color: var(--paper-highlight);
    scroll-snap-align: center;
    scroll-margin: 50vh 0;
}

.row-style{
    border-bottom: 1px solid var(--border-alpha);
    min-height: 8vh !important;
}

.td-size {
    padding: 1rem;
    border-left: 1px solid var(--paper-border);
}