<div class="d-flex flex-grow-1 flex-column table-view paper-nopad">
    <table>
        <thead class="el-1">
        @TableHead
        </thead>
        @TableBody
    </table>
</div>

@code {

    [Parameter]
    public required RenderFragment TableHead { get; set; }
    
    [Parameter]
    public required RenderFragment TableBody { get; set; }

}