<div class="flex-grow-1 flex-column table-view paper-nopad h-100 mh-100 transition @Class" style="display: flex">
    <table>
        <thead class="el-1">
        @TableHead
        </thead>
        @TableBody
    </table>
</div>

@code {

    [Parameter]
    public required RenderFragment TableHead { get; set; }
    
    [Parameter]
    public required RenderFragment TableBody { get; set; }

    [Parameter]
    public string Class { get; set; } = string.Empty;

}