@using Conservices.Screen.Models.Misc
<td class="td-size">
    <div class="d-flex flex-row justify-content-between mw-100 w-100 align-items-center h-100">
        <div class="h2 mw-75 w-75">
            @((MarkupString)GetTableNames())
        </div>
        <div class="flex-lg-row w-25">

            <div class="wheelchair">
                @if (IsAccessible())
                {
                    <RadzenIcon Icon="Accessible_Forward" Style="font-size: 3rem;"/>
                }
            </div>

        </div>
    </div>
</td>

@code {

    [Parameter]
    public IEnumerable<Table> Tables { get; set; } = [];

    [Parameter]
    public bool IsSingleOnly { get; set; } = true;

    private string GetTableNames()
    {
        if (IsSingleOnly)
            return Tables.FirstOrDefault()
                ?.Name ?? string.Empty;

        return string.Join("<wbr>", Tables.Select(x => x.Name));
    }

    private bool IsAccessible()
        => Tables.Any(x => x.Accessible);

}