.table-view{
    height: 78vh !important;
    max-height: 75vh !important;
    max-width: 100% !important;
    overflow-y: scroll;
    background-color: var(--paper);
}

.table-view::-webkit-scrollbar {
    display: none;
}

table{
    table-layout: fixed;
    width: 100% !important;
    max-width: 100% !important;
}

thead{
    position: sticky; top: 0;
    background-color: var(--paper);
    font-size: 3rem;
    z-index: 9999;
}

.row-active{
    background-color: var(--paper-highlight);
    scroll-snap-align: center;
    scroll-margin: 50vh 0;
}

.row-style{
    border-bottom: 1px solid var(--border-alpha);
}


.col-title{
    width: 55% !important;
    max-width: 55% !important;
    padding-left: 1rem;
}

.td-title{
    font-size: 2.5rem;
    padding-left: 1rem;
}

.td-text-large{
    font-size: 2.5rem;
}

.td-size {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
}

.title-container{
    max-width: 85% !important;
    width: 85% !important;
}

.age-container{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.age{
    height: 5rem;
    aspect-ratio: 1/1;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transform: rotate(45deg);
}

.age-16{
    background: #35A9E5;
    border: 3px solid #2d7FAB;
}

.age-18{
    background: #EE161F88;
    border: 3px solid #B2161E;
}

.rotate-back{
    transform: rotate(-45deg);
}

.wheelchair{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    aspect-ratio: 1/1;
    margin-right: 0.5rem;
}

.wheelchair img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}