@using Conservices.Screen.Models
@using Conservices.Screen.Models.Convention

<a href="event/@Event.Id" class="d-flex justify-content-center mobile-link">
    <div class="paper el-1 link-title">
        @Event.Name
    </div>
</a>


@code {

    [Parameter]
    public required Convention Event { get; set; }

}